@charset "ISO-8859-1";
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}
:root{
	--pink:#fe8d88;
	--lightOrange:#fdd06e;
	--deepOrange:#fb9400;
}
body{
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
		background-color:#fff0ed;
	
}
main{
	padding:0px 60px;
	padding-bottom:60px;
}
.menu-categories{
	padding:5rem;
}
.menu-categories-container{
display: flex;
    align-items: center;
    justify-content: space-around;}
.category-card{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  height:100px;
  padding:10px;
  background-color:white;
  border-radius:5px;
  border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
  /*&:active{
  background-color:var(--deepOrange);
  }*/
    }
    .food-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  background-color:white;
  border-radius:5px;
  border:none;
    display: flex;
    flex-direction: column;

    }
  .category-icon{
  width:50px;
  height:50px;
  
   }
 .grid-container{
 max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
   
 }
 .food-img{
 position:relative;
/* background-image:url("../assets/images/pizza.jpg");*/
 background-size:cover;
 background-position:center;
 height:200px;
     border-radius: 5px 5px 0px 0px;
     
 }
.food-img1{
 background-image:url("../assets/images/pizza1.jpg");
 
 }
 .food-img2{
  background-image:url("../assets/images/pizza1.jpg");
 
 }
 .fav-icon{
 top: 5px;
    right: 5px;
    color: white;
    position: absolute;
 }
 .food-card-content{
 padding:1rem;
 display:flex;
    justify-content: space-between;
 }
 .food-desc-name{font-weight:bold;
 color:#555;
 }
  @media (min-width: 600px) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}
 @media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(4, 1fr); }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}